@import "normalize";
@import "h5bp-base";

/* ==========================================================================
   Variables
   ========================================================================== */

   $highlight: #93FFE8;
   $black: #000;
   $white: #fff;
   $secondary: #FF94AB;

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-color: $secondary;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

#vizbox {
  width: 100%;
  color: #444;
}

#footer {
  padding: 2em 5%;
  color: $black;
  background-color: lighten($secondary, 15%);
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 1em 5%;
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  &.overview {
    background-color: $highlight;
    color: $black;
  }
  &.details {
    font-size: 0.9em;
    a {
      font-weight: 500;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

li {
  display: block;
  width: 45%;
  list-style: none;
  margin: 1em 5% 1em 0;
  padding: 0;
}

.proportion {
  white-space: nowrap;
}

.button {
  a {
    text-decoration: none;
    background: $secondary;
    color: $black;
    padding: 0.8em;
    margin: 0.4em 0.8em 0.4em 0;
    display: inline-block;
    &:hover {
      background: darken($secondary, 20%);
      color: $white;
    }
  }
}

@import "h5bp-helpers";

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    li {
      width: 28.3%;
    }
    #footer {
      padding-right: 38.3%;
    }

}

@media only screen and (min-width: 60em) {
    li {
      width: 20%;
    }
    #footer {
      padding-right: 55%;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@import "h5bp-print";
