@import "normalize";
@import "h5bp-base";

/* ==========================================================================
   Variables
   ========================================================================== */

   $highlight: #93FFE8;
   $white: #fff;
   $secondary: #FF94AB;

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-color: $secondary;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

#vizbox {
  width: 100%;
  color: #444;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
  margin-top: 0;
}

a {
  font-weight: 500;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 1em 5%;
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  &.overview {
    background-color: $highlight;
    color: #000;
  }
  &.details {
    font-size: 0.9em;
  }
}

li {
  display: block;
  width: 45%;
  list-style: none;
  margin: 1em 5% 1em 0;
  padding: 0;
}

@import "h5bp-helpers";

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    li {
      width: 28.3%;
    }
}

@media only screen and (min-width: 60em) {
    li {
      width: 20%;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@import "h5bp-print";
