@import "normalize";
@import "h5bp-base";
@import "hint-tooltips";

/* ==========================================================================
   Variables
   ========================================================================== */

   $highlight: #fc8d62;
   $black: #000;
   $white: #fff;
   $secondary: #66c2a5;
   $tertiary: #8da0cb;
   $grey: lighten($black, 60%);

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-color: $secondary;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

strong {
  font-weight: 500;
}

#header {
  padding: 0.5em 5%;
  color: lighten($highlight, 25%);
  background: $highlight;
  text-align: center;
  font-size: 0.85em;
  a {
    color: $white;
  }
}

#vizbox {
  width: 100%;
  color: #444;
}

#footer {
  padding: 2em 5%;
  color: $black;
  background-color: lighten($secondary, 15%);
}

#key {
  position: fixed;
  bottom: 0;
  background: $white;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
  box-shadow: $black 0 1.5em 3em 0.5em;
  .key-item {
    padding: 0.5em;
    margin: 0.5em;
    display: inline-block;
    &.m {
      background: $highlight;
    }
    &.f {
      background: $secondary;
    }
    &.o {
      background: $tertiary;
    }
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 1em 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: $white;
  &.overview {
    background-color: lighten($highlight, 20%);
    color: $black;
  }
  &.details {
    font-size: 0.9em;
    a {
      font-weight: 500;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    h4 {
      margin: 0;
    }
    h6 {
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }
}

li {
  display: block;
  width: 45%;
  list-style: none;
  margin: 1em 5% 1.5em 0;
  padding: 0;
  &.heading {
    width: 100%;
  }
}

.proportion {
  white-space: nowrap;
}

.proportion-bar {
  margin-bottom: 0.6em;
  span {
    display: inline-block;
    font-size: 0.6em;
    line-height: 2em;
    font-weight: 500;
    text-indent: 0.4em;
    color: $black;
    &.m {
      background: $highlight;
    }
    &.f {
      background: $secondary;
    }
    &.o {
      background: $tertiary;
    }
    &.u {
      background: $grey;
    }
  }
}

.button {
  a {
    text-decoration: none;
    background: $secondary;
    color: $black;
    padding: 0.8em;
    margin: 0.4em 0.8em 0.4em 0;
    display: inline-block;
    &:hover {
      background: darken($secondary, 20%);
      color: $white;
    }
  }
}

/* ==========================================================================
   Loading spinner styling
   ========================================================================== */

.spinner {
  width: 3em;
  height: 3em;
  position: relative;
  margin: 1em auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $white;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@import "h5bp-helpers";

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    li {
      width: 28.3%;
      &.heading {
        width: 28.3%;
      }
    }
    #footer {
      padding-right: 38.3%;
    }

}

@media only screen and (min-width: 60em) {
    li {
      width: 20%;
      &.heading {
        width: 20%;
      }
    }
    #footer {
      padding-right: 55%;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@import "h5bp-print";
